.blog-section {
  width: 100%;
  margin: 4rem 0;
}

.blog-section--featured [class*="blog-section__media"] img {
  max-width: 100%;
}

.blog-section--featured [class*="blog-section__content"] {
  grid-template-columns: 2fr 1fr;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:first-child {
  grid-row: 1/4;
  position: relative;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:first-child
  > [class*="blog-post__content"] {
  background-color: rgba(255, 255, 255, 0.72);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2),
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3),
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4) {
  display: flex;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2)
  > *,
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3)
  > *,
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4)
  > * {
  flex: 0 0 50%;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2)
  > [class*="blog-post__media"],
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3)
  > [class*="blog-post__media"],
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4)
  > [class*="blog-post__media"] {
  flex: 0 0 50%;
  padding-right: 1.25rem;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2)
  > [class*="blog-post__content"],
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3)
  > [class*="blog-post__content"],
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4)
  > [class*="blog-post__content"] {
  flex: 1 0 50%;
  padding: 0;
}

.blog-section--grid [class*="blog-section__content"] {
  grid-template-columns: repeat(3, 1fr);
}

.blog-section--grid [class*="blog-section__content"] > [class*="blog-post"] {
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.blog-section--grid
  [class*="blog-section__content"]
  > [class*="blog-post"]:hover {
  box-shadow: var(--box-shadow-4);
  transform: translate3d(0, -6px, 0);
}

.blog-section__load-more-button {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  color: white;
  background: #0b6ae6;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem auto;
  display: block;
  transition: background-color 0.4s ease, transform 0.4s ease;
  cursor: pointer;
}

.blog-section__load-more-button:hover {
  background: #003cbe;
  transform: translate3d(0, -0.25rem, 0);
}
