.blog-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-section__header select {
  padding: 0.5rem;
}

.blog-section__title {
  background-image: linear-gradient(
    -180deg,
    transparent 0%,
    transparent 64%,
    rgb(255, 216, 95) 64%,
    rgb(255, 216, 95) 87%,
    transparent 87%,
    transparent 100%
  );
}
