.blog-post {
  line-height: 1.24;
  background-color: white;
}

.blog-post__media > * {
  vertical-align: middle;
}

.blog-post__content {
  padding: 1.25rem 1.25rem 1.5rem;
}

.blog-post__content > * {
  display: block;
  margin: 0.5rem 0;
}

.blog-post__content > *:first-child {
  margin-top: 0;
}

.blog-post__content > *:last-child {
  margin-bottom: 0;
}

.blog-post__category {
  color: #0070f3;
}

.blog-post__meta > time + span::before {
  content: "|";
  color: #c3c3ce;
  padding: 0 0.5rem;
}
