.blog-section {
  width: 100%;
  margin: 4rem 0;
}

.blog-section--featured [class*="blog-section__content"] {
  grid-template-columns: 2fr 1fr;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:first-child {
  grid-row: 1/4;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2),
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3),
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4) {
  display: flex;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2) > *,
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3) > *,
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4) > * {
  flex: 0 0 50%;
}

.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(2) > [class*="blog-post__content"],
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(3) > [class*="blog-post__content"],
.blog-section--featured
  [class*="blog-section__content"]
  > [class*="blog-post"]:nth-child(4) > [class*="blog-post__content"] {
  padding: 0;
  margin-left: 1.25rem;
}

.blog-section--grid [class*="blog-section__content"] {
  grid-template-columns: repeat(3, 1fr);
}