.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 67.5rem;
}

.blog-post__media-meta-wrapper {
  display: flex;
}

.blog-post__media {
  flex: 2;
}

.blog-post__meta {
  flex: 1;
  margin-left: 2rem;
  font-size: 0.875rem;
  line-height: 1.24;
}

.blog-post__meta-block + .blog-post__meta-block {
  margin-top: 2rem;
}

.blog-post__meta-title {
  text-transform: uppercase;
  margin-top: 0;
}

.blog-post__meta-content {
  margin-bottom: 0;
}
